.header {
    background-color: rgb(32, 111, 150);
    padding: 15px;
}

.row {
    padding: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:focus {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-size: 20px;
    font-family: 'Righteous', cursive;
    transition: .3s;
    display: inline;
}

.logo:hover {
    opacity: .5;
}

.offset-down {
    top: 2px;
}

.offset-up {
    top: -2px;
}

#s {
    padding: 10px;
    background-color: rgb(32, 111, 150);
    color: white;
    position: relative;
}

#t {
    padding: 10px;
    background-color: white;
    color: rgb(32, 111, 150);
    position: relative;
}

#a {
    padding: 10px;
    background-color: rgb(32, 111, 150);
    color: white;
    position: relative;
}

#c {
    padding: 10px;
    background-color: white;
    color: rgb(32, 111, 150);
    position: relative;
}

#k {
    padding: 10px;
    background-color: rgb(32, 111, 150);
    color: white;
    position: relative;
}

.links {
    position: relative;
    display: inline;
    color: rgb(32, 111, 150);
    padding: 10px;
    background-color: white;
    font-family: 'Reem Kufi', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 78%;
    transition: .3s;
}

.links:hover {
    opacity: .5;
}

.article {
    box-shadow: 7px 10px 18px 1px rgba(173, 173, 173, 0.5);
    font-size: 20px;
    margin: 40px 20px 20px 20px;
    position: relative;
    font-family: 'Reem Kufi', sans-serif;
}

.title {
    width: 100%;
    padding: 15px;
    background-color: rgb(101, 185, 170);
    position: relative;
    color: white;
    text-transform: uppercase;
}

.description {
    padding: 15px;
}

.note-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
}

.note-button:hover {
    cursor: pointer;
}

.notes {
    background-color: red;
    top: 55px;
    background-color: #fff0d4;
    padding: 15px;
}